<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>g3_due.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>index.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D45710BC170532AC00EA19A8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D45710C21705330C00EA19A8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D457112317053BFB00EA19A8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D457117E170546FC00EA19A8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
