*.o
*.d
*.bin
*.elf
*.hex
*.eep
*.lss
*.map
*.srec
*.aws
*.atsuo
*.cproj
\bin
\build
build/
bin/
*.xcodeproj/project.xcworkspace/xcuserdata/rob.xcuserdatad/UserInterfaceState.xcuserstate
.DS_Store
TcfTransactionLog.csv
TinyG2/TinyG2.elf
