*.o
*.d
*.bin
*.elf
*.hex
*.eep
*.lss
*.map
*.srec
*.aws
*.atsuo
*.cproj
*.log
.project
.cproject
*.launch
.settings
\bin
\build
build/
bin/
*.xcodeproj/project.xcworkspace/xcuserdata
*/*.xcodeproj/project.xcworkspace/xcuserdata
*.xcodeproj/xcuserdata
*/*.xcodeproj/xcuserdata
.DS_Store
TcfTransactionLog.csv
*.xcbkptlist
*.xccheckout
.gdb_history
JLink.log
Tools/gcc-arm-none-eabi
openocd.cfg
openocd.log
TinyG2/mb.txt