# From https://github.com/github/gitignore/blob/master/Objective-C.gitignore
DerivedData

## Various settings
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata

## Other
*.xccheckout
*.moved-aside
*.xcuserstate
*.xcscmblueprint

*.o
*.d
*.bin
*.elf
*.hex
*.eep
*.lss
*.map
*.srec
*.aws
*.atsuo
*.cproj
*.log
.project
.cproject
*.launch
.settings
\bin
\build
build/
bin/
.DS_Store
TcfTransactionLog.csv
*.xcbkptlist
*.xccheckout
.gdb_history
JLink.log
Tools/gcc-arm-none-eabi*
openocd.cfg
openocd.log
*/mb.txt
Tools/gcc-arm-none-eabi-*.tar.bz2
*/TinyG2.componentinfo.xml
g2core/g2core.componentinfo.xml
.tags

g2core/compile_commands.json
