# This file need modified in order to debug with OpenOCD

# Keep the following two lines as-is for connection to GDB
gdb_port pipe
log_output openocd.log


# Uncomment the correct interface below for your adapter:

# For an Atmel ICE, or any other CMSIS-DAP device:
#source [find interface/cmsis-dap.cfg]

# For a JLink (or compatible) device:
#source [find interface/jlink.cfg]
